/* css variables  */
:root
{
   --orange--shade: #E5CAAF;
   --blue--shade :#AFE5E1; 
   --white :#FFFFFF;
   --purple--shade : #A74BEB;
   --purple--shade1  : #7766DF;
   --purple--shade2 : #ACA3E5;
}

/* css universal */

*
{
    margin: 0;
    padding: 0;
}

html,body
{
    height: 100%;
    width: 100%;
}

/* css for body */

body
{
    background-image: linear-gradient(to right,var(--orange--shade),var(--blue--shade));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css for card */
.card
{
    height: 70%;
    width: 60%;
    border-radius: 4%;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    box-shadow: 6px 6px 7px rgb(183, 175, 175);
}

/* signin css */

.signin
{
    height: 100%;
    width: 50%;
    background-color: var(--white);
    z-index: 0;
}

.signin-form > input
{
    height: 81%;
    width: 85%;
    margin-top: 0.5rem;
    margin-left: 1.7rem;  
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.signin a
{
    position: relative;
    top: 13%;
    left: 15%;
    text-decoration: none;
    font-size: 1rem;
}

.signin-heading
{
    position: relative;
    bottom: 28%;
    left: 24%;
}

.signin > h3
{
    position: relative;
    bottom: 6.5%;
}

.btn-signin
{
    position: relative;
    top: 23%;
    right: 20%;
    font-size: 1rem;
    padding: 0.86em 3.1em;
    background-color: var(--purple--shade);
    color: var(--white);
    border-radius: 10px;
    font-weight: 500;
    border-color: var(--white);
    border-width: 2px 2px;
    box-shadow: 2px 2px 3px rgb(177, 174, 174);
}

.signin > .links
{
    position: relative;
    right: 13%;
}

/* utility classes */

.relative-heading
{
    position: relative;
    bottom: 26%;
    left: 24%;
}


.links
{
    position: relative;
    bottom: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.sub-headings
{
    position: relative;
    bottom: 6%;
}

.flexclass
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


.inputsize
{
    height: 55%;
    width: 85%;
    margin-top: 0.3rem;
}

.links > div
{
    box-shadow:12px 12px 16px 0 rgba(0, 0, 0, 0.25),-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    background: #f1f1ee;;
    margin: 2px;
    border-radius: 40%;
}

/* registartion css */

.register
{
    height: 100%;
    width: 50%;
    background-color: var(--white);
    z-index: 0;
    border-radius: 0% 4% 4% 0%;
}

.register > .links
{
    position: relative;
    bottom: 15%;
    right: 23%;
}

.register-form > input[type="text"],.register-form > input[type="email"],.register-form > input[type="password"]
{
   margin-left: 1.5rem;  
   border-radius: 0.5rem;
   font-size: 0.9rem;
} 

.btn-signup
{
    position: relative;
    top: 18%;
    font-size: 1rem;
    background-color: var(--purple--shade);
    color: var(--white);
    padding: 0.8em 3em;
    border-radius: 10px;
    font-weight: 500;
    border-color: var(--white);
    border-width: 2px 2px;
    box-shadow: 2px 2px 3px rgb(177, 174, 174);
}

/* css for change/ box with animation  */

.change
{
    position: absolute;
    left: 50%;
    height: 70%;
    width: 30%;
    z-index: 1;
    border-radius: 30% 4% 4% 20%;
    background-image:linear-gradient(to right ,var(--purple--shade),var(--purple--shade1), var(--purple--shade2));
}

.btn-change
{
    position: relative;
    margin-top: 60%;
    margin-left: 36%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
    padding: 0.8em 3em;
    color: var(--white);
    border-color: var(--white);
    border-width: 2px 2px;
}

.change-heading
{
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 50px;
    color: var(--white);
}

.change-sub-heading
{
    text-align: center;
    position: relative;
    width: 35ch;
    top: 35%;
    left: 18%;
    color: var(--white);
}